body {
	font-family: "europa", sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	line-height: 1.5;
	color: #fff;
}

h1 {
	font-family: "eurostile", sans-serif;
	font-size:2rem;
	font-weight: 800;
}
/*button {
	padding-top: calc(0.5em 1px);
	padding-bottom: calc(0.5em 1px);
	padding-left: calc(0.75em 1px);
	padding-right: calc(0.75em 1px);
}*/

footer {
	color: white;
	background-color: #7510F7;
	text-align: center;
	vertical-align: baseline;
}

footer > a {
	background-color: transparent;
	color: white;
	border-radius: 100%;
	height: 47px;
	width: 47px;
	border: 2px solid rgba(255, 255, 255, 0.3);
}

.nav-brand {
	padding: 30px;
	padding-left: 60px;
}

.intro {
	text-align: center;

}
.intro > p {
	font-size: 25px;
}
.svg {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.intro {
	padding-top: 45px;
	padding-bottom: 30px;
}

.aboutme {
	width: 100%
	text-align:center;
	padding: 20px;
	margin-right: -5%;
	margin-left: -5%;
	color: white;
	background-color: #7510F7;
	font-family: 20px,europa, sans-serif;
	vertical-align: baseline;
	line-height: 1.6;
}

.aboutme-text-title {
	padding-top: 55px;
	margin: auto;
	text-align: center;
	width: 50%;
}

.aboutme-text-body {
	padding-top: 15px;
	text-align: center;
	width: 50%;
	margin: auto;
	font-family: "europa", sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	line-height: 1.5;
	color: #fff;
}

.aboutme-icons {
	text-align: center;
	padding-bottom: 55px;

}

.aboutme-icons > a {
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	box-shadow: 0px 2px 2px #888;
	padding: 0.5em 0.6em;
	margin-right: 15px;
}

.education > a {
	display: inline-block;
	text-align: center;
	border-radius: 60px;
	box-shadow: 0px 0px 2px #888;
	padding: 0.5em 0.6em;
}

.footer-logo {
	padding-top: 50px;
	padding-bottom: 10px;
}

.footer-title > p {
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 1.2;
	margin:	2rem auto;
	opacity: 0.7;
	max-width: 300px;
}

.footer-icons > a {
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	box-shadow: 0px 2px 2px #888;
	padding: 0.5em 0.6em;
	margin-right: 10px;
	margin-bottom: 35px;
}

.custom-footer {
	font-family: "europa", sans-serif;
	padding-top: 35px;
	padding-bottom: 35px;
}

.custom-footer > p {
	font-size: 0.8rem;
	font-weight: 100;
	word-spacing: 1px;
}




